@import "_partial/font"
@import "_partial/header"
@import "_partial/post"
@import "_partial/category"

body 
  background: url('../img/button-bg.png') #f3f3f3  repeat left top
  font-size: 1rem
  line-height: 1.6

.container 
  max-width: 1142px
  box-sizing: border-box
  padding: 3em 5em
  background: white
  margin: 3em auto
  overflow: hidden

  .posts
    width: 622px
    float: left
  


