<header class="header">
    <h1 class="title">
        <a href="<%- url_for() %>" class="logo">
            <%= config.title %>
        </a>
    </h1>
    <h2 class="desc">
        <%= config.subtitle %>
    </h2>

    <p>
        <a href="">ABOUT</a>
    </p>
</header>