.category 
  width: 25%
  float: right
  h1
    font: 1.25em/1.2 Lora
    margin: .67em 0
    color: #777
    &:before
      content: ''
      display: inline-block
      position: relative
      top: -2px
      margin-right: 0.45em
      float: left
      background: url('../../img/button.svg') no-repeat 0 0 / 84px 22px
      width: 22px
      height: 32px
  
  ul
    list-style: none
    margin: 0
    padding: 0
    li
      border-top: 1px dashed #ddd
      margin-top: .6em
      padding-top: .6em
      a
        color: #f78769
        text-decoration: none
        font: 14px Lato
        transition: .3s
        &:hover
          color: #ddd
            