@font-face
  font-family: Lora;
  src: url('../font/Lora-Italic.ttf'), url('../font/Lora-Italic.eot')

@font-face
  font-family: Lora-Bold;
  src: url('../font/Lora-BoldItalic.ttf'), url('../font/Lora-BoldItalic.eot')

@font-face
  font-family: Lato;
  src: url('../font/Lato-Regular.ttf'), url('../font/Lato-Regular.eot')

@font-face
  font-family: Lato-Bold;
  src: url('../font/Lato-Bold.ttf'), url('../font/Lato-Bold.eot')