@font-face
  font-family: Lora;
  src: url('../font/Lora-Regular.ttf'), url('../font/Lora-Regular.eot')

@font-face
  font-family: Lora-Bold;
  src: url('../font/Lora-Bold.ttf'), url('../font/Lora-Bold.eot')

@font-face
  font-family: Lato;
  src: url('../font/Lato-Regular.ttf'), url('../font/Lato-Regular.eot')

@font-face
  font-family: Lato-Bold;
  src: url('../font/Lato-Bold.ttf'), url('../font/Lato-Bold.eot')

pre
  border: 1px dashed #ddd
code
  padding: 2px 4px
  font-size: 90%
  color: #c7254e
  background-color: #f9f2f4
  border-radius: 4px